:root {
    --Old-Brick: #9a1c22;
    --Aubergine: #350a0e;
    --Anzac: #e1bb3e;
    --Anzac-hover:rgb(215, 164, 61);
    --Rose-Fog: #e9c5b5;
    --Cinnabar: #e35436;
    --Black: #000000;
    --White: #fffff0;
    --font-family-headings: 'Gloock', serif;
    --font-family-body: 'Merriweather', serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.landing-page {
    background-color: var(--Black);
}

body{
  color: var(--White);
}

.gloock {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


h1{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 0;
  color: var(--White);
}

h2{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0;
  color: var(--White);
}

h3{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin: 0;
  color: var(--White);
}

h4{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 0;
  color: var(--White);
}

h5{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  color: var(--White);
}

body{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  letters-spacing: 0.6px;
  line-height: normal;
  color: var(--White);
}

.hero-section {
  height: 743px;
  aspect-ratio: 1300.25/743.00;
  background: url("../assets/HeroImage.svg") no-repeat center center; /* Center the image */
  background-size: cover; /* Ensure the image covers the section */
  border-radius: 15px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 0 auto; /* Center the section itself */
}


.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  justify-content: center; /* Center text vertically */
  text-align: left; /* Align text within the container */

  width: 100%; /* Allow the text container to take full width */
}

.hero-text h1 {
  font-size: 94px; /* Adjust font size as needed */
  margin: 0; /* Remove default margin */
  color: var(--White); /* Set text color */
  max-width: 420px; /* Set a max width for the text container */
  margin-left: 115px; /* Add left margin for spacing */
}

.our-story-section {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text within the container */
  margin-top: 20px; /* Add top margin for spacing */
}

.our-story-text{
  display: flex;
  flex-direction: column;
  align-items: left; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  text-align: left; /* Center text within the container */
  margin-top: 20px; /* Add top margin for spacing */
  max-width: 530px; /* Set a max width for the text container */
  margin-left: 130px; /* Add left margin for spacing */
}

.our-story-text h2 {
  margin-bottom: 40px; /* Add bottom margin for spacing */
}

.our-story-image{
  height: 682px;
  
}

.Read-more-button {
  background-color: var(--Aubergine); /* Set button background color */
  color: var(--Black); /* Set button text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px 20px; /* Add padding for button size */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 20px; /* Add top margin for spacing */
  width: 200px;
  height: 68px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: inset 4px 4px 10px rgba(255, 255, 255, 0.3), inset -2px -2px 10px rgba(0, 0, 0, 0.7); /* Add shadow effect */
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.Read-more-button a{
  text-decoration: none; /* Remove underline from link */
}

.Read-more-button:hover {
  background-color: var(--Old-Brick); /* Change background color on hover */
  color: var(--White); /* Change text color on hover */
  transition: background-color 0.3s ease; /* Add transition effect */
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.72), inset -2px -2px 10px rgba(255, 255, 255, 0.3); /* Add shadow effect */
  color:rgb(57, 57, 57);
  transform: scale(0.99);
}

.our-products-section{
  display: flex;
  flex-direction: row;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text within the container */
  margin-top: 20px; /* Add top margin for spacing */
}

.our-products-text{
  display: flex;
  flex-direction: column;
  align-items: left; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  text-align: left; /* Center text within the container */
  margin-top: 20px; /* Add top margin for spacing */
  max-width: 530px; /* Set a max width for the text container */
  margin-right: 130px; /* Add left margin for spacing */
}

.our-products-text h2 {
  margin-bottom: 40px; /* Add bottom margin for spacing */
  
}

#view-collection{
  display: flex;
  width: 350px;
  height: 68px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.footer-section{
  
  margin-top: 50px; /* Add top margin for spacing */
  width: 100%; /* Set width to 100% */
  height: 298px;
}